<po-page-default t-title="Clientes x Pedidos">
  <div id="widget-container">
    <po-widget id="left-graph">
      <!--
      <po-kendo-chart *ngIf="!loadingGraph"
        class="po-md-12"
        p-title="Pedidos por período"
        p-height="360"
        [p-type]="'line'"
        [p-categories]="categories"
        [p-series]="graphDataSource">
      </po-kendo-chart>
      <po-kendo-chart *ngIf="loadingGraph"
        class="po-md-12"
        t-title="Pedidos por período"
        t-height="360"
        [t-type]="'line'"
        [t-categories]="[]"
        [t-series]="[]">
      </po-kendo-chart>
      -->
    </po-widget>
    <po-widget id="right-graph">
      <div class="insight-container">
        <span id="title">Quantidade de clientes</span>
        <span id="value">{{totalSecondInsight}}</span>
      </div>
    </po-widget>
  </div>

  <div id="grid-container">
    <po-widget>
      <div id="filter-container" class="po-row">
        <div class="po-lg-12">
          <po-input
            (t-change)="onChangeFilter($event)"
            t-label="Filtrar Clientes"
            name="filter-combo"
            t-placeholder="Digite o nome do cliente"
          >
        </po-input>
        </div>
      </div>

      <div id="buttons-container" class="po-row">
        <div class="po-lg-12">
          <po-button id="add-new"
            t-type="primary"
            [p-disabled]="pendingAction"
            (click)="addNew()"
            t-label="Adicionar Novo Cliente">
          </po-button>
          <po-button id="edit-selected"
            (click)="editSelected()"
            [p-disabled]="selectedRows.length > 1 || !selectedRows.length || pendingAction"
            t-label="Editar">
          </po-button>
          <po-button id="edit-selected"
            t-type="danger"
            [p-disabled]="!selectedRows.length || pendingAction"
            (click)="deleteSelected()"
            t-label="Excluir">
          </po-button>
        </div>
      </div>

      <div class="po-row">
        <div class="po-lg-12">
          <po-table
            p-checkbox
            (p-selected)="changeSelectionState($event)"
            (p-unselected)="changeSelectionState($event)"
            (p-all-selected)="changeSelectionState($event)"
            (p-all-unselected)="changeSelectionState($event)"
            [p-columns]="gridColumns"
            [p-items]="gridData"
            [p-loading]="loadingGrid"
            [p-striped]="true"
          >
          </po-table>
        </div>
      </div>
      <app-paginator recordsName="Clientes"
        [pageSize]="pageSize"
        [currentPage]="currentPage"
        [countHits]="currentPageHits"
        [totalHits]="totalHits"
        (onChangePage)="onChangePage($event)">
      </app-paginator>
    </po-widget>
  </div>
</po-page-default>
