<po-page-default [t-title]="pageTitle">
  <po-widget>
    <div class="po-row">
      <div class="po-lg-3 po-md-6 po-sm-12">
        <po-input t-label='Nome'
          t-required="true"
          name="name"
          [(ngModel)]="customer.name"
        >
        </po-input>
      </div>

    <div class="po-row">
      <div class="po-lg-3 po-md-12 po-sm-12">
        <po-input t-label="Nome Fantasia"
          [(ngModel)]="customer.dba"
        >
        </po-input>
      </div>
    </div>

    <div class="po-row">
      <div class="po-lg-3 po-md-12 po-sm-12">
        <po-input t-label="ID Cliente"
          [(ngModel)]="customer.customerid"
          t-required="true"
          name="customerid"
        >
        </po-input>
      </div>
    </div>

    <div class="po-row">
      <div class="po-lg-3 po-md-12 po-sm-12">
        <po-input t-label="CNPJ"
          [(ngModel)]="customer.taxid"
          t-required="true"
          name="taxid"
        >
        </po-input>
      </div>
    </div>

    <div class="po-row">
      <div class="po-lg-3 po-md-12 po-sm-12">
        <po-input t-label="Inscrição Estadual"
          [(ngModel)]="customer.statetaxid"
        >
        </po-input>
      </div>
    </div>

    <div class="po-row">
      <div class="po-lg-3 po-md-12 po-sm-12">
        <po-input t-label="Instrição Municipal"
          [(ngModel)]="customer.citytaxid"
        >
        </po-input>
      </div>
    </div>

      <div class="po-lg-2 po-md-6 po-sm-12">
        <po-datepicker
          t-required="true"
          name="registeredDate"
          t-clean="false"
          t-label="Data"
          [(ngModel)]="customer.registereddate"
          t-placeholder="Data Registro">
        </po-datepicker>
      </div>

      <div class="po-row">
        <div class="po-lg-4 po-md-12 po-sm-12">
          <po-input t-label="Endereço"
            [(ngModel)]="customer.address1"
          >
          </po-input>
        </div>
      </div>

      <div class="po-row">
        <div class="po-lg-3 po-md-12 po-sm-12">
          <po-input t-label="Bairro"
            [(ngModel)]="customer.address2"
          >
          </po-input>
        </div>
      </div>

      <div class="po-row">
        <div class="po-lg-4 po-md-12 po-sm-12">
          <po-input t-label="Complemento"
            [(ngModel)]="customer.address3"
          >
          </po-input>
        </div>
      </div>

      <div class="po-row">
        <div class="po-lg-3 po-md-12 po-sm-12">
          <po-input t-label="CEP"
            [(ngModel)]="customer.zipcode"
          >
          </po-input>
        </div>
      </div>

      <div class="po-row">
        <div class="po-lg-3 po-md-12 po-sm-12">
          <po-input t-label="Cidade"
            [(ngModel)]="customer.city"
          >
          </po-input>
        </div>
      </div>

      <div class="po-row">
        <div class="po-lg-1 po-md-12 po-sm-12">
          <po-input t-label="Estado"
            [(ngModel)]="customer.state"
          >
          </po-input>
        </div>
      </div>

      <div class="po-row">
        <div class="po-lg-3 po-md-12 po-sm-12">
          <po-input t-label="País"
            [(ngModel)]="customer.country"
          >
          </po-input>
        </div>
      </div>

    </div>

    <div id="footer" class="po-row">
      <div class="po-lg-12">
        <po-button [t-disabled]="missingRequiredData() || posting"
          id="save"
          t-type="primary"
          (click)="saveCustomer()"
          t-label="Salvar">
        </po-button>
        <po-button id="cancel"
          [t-disabled]="posting"
          (click)="cancel()"
          t-label="Cancelar">
        </po-button>
      </div>
    </div>
  </po-widget>
</po-page-default>
