<thf-page-default [t-title]="pageTitle">
  <thf-widget>
    <div class="thf-row">
      <div class="thf-lg-3 thf-md-6 thf-sm-12">
        <thf-input t-label='Nome'
          t-required="true"
          name="name"
          [(ngModel)]="customer.name"
        >
        </thf-input>
      </div>

    <div class="thf-row">
      <div class="thf-lg-3 thf-md-12 thf-sm-12">
        <thf-input t-label="Nome Fantasia"
          [(ngModel)]="customer.dba"
        >
        </thf-input>
      </div>
    </div>

    <div class="thf-row">
      <div class="thf-lg-3 thf-md-12 thf-sm-12">
        <thf-input t-label="ID Cliente"
          [(ngModel)]="customer.customerid"
          t-required="true"
          name="customerid"
        >
        </thf-input>
      </div>
    </div>

    <div class="thf-row">
      <div class="thf-lg-3 thf-md-12 thf-sm-12">
        <thf-input t-label="CNPJ"
          [(ngModel)]="customer.taxid"
          t-required="true"
          name="taxid"
        >
        </thf-input>
      </div>
    </div>

    <div class="thf-row">
      <div class="thf-lg-3 thf-md-12 thf-sm-12">
        <thf-input t-label="Inscrição Estadual"
          [(ngModel)]="customer.statetaxid"
        >
        </thf-input>
      </div>
    </div>

    <div class="thf-row">
      <div class="thf-lg-3 thf-md-12 thf-sm-12">
        <thf-input t-label="Instrição Municipal"
          [(ngModel)]="customer.citytaxid"
        >
        </thf-input>
      </div>
    </div>

      <div class="thf-lg-2 thf-md-6 thf-sm-12">
        <thf-datepicker
          t-required="true"
          name="registeredDate"
          t-clean="false"
          t-label="Data"
          [(ngModel)]="customer.registereddate"
          t-placeholder="Data Registro">
        </thf-datepicker>
      </div>

      <div class="thf-row">
        <div class="thf-lg-4 thf-md-12 thf-sm-12">
          <thf-input t-label="Endereço"
            [(ngModel)]="customer.address1"
          >
          </thf-input>
        </div>
      </div>

      <div class="thf-row">
        <div class="thf-lg-3 thf-md-12 thf-sm-12">
          <thf-input t-label="Bairro"
            [(ngModel)]="customer.address2"
          >
          </thf-input>
        </div>
      </div>

      <div class="thf-row">
        <div class="thf-lg-4 thf-md-12 thf-sm-12">
          <thf-input t-label="Complemento"
            [(ngModel)]="customer.address3"
          >
          </thf-input>
        </div>
      </div>

      <div class="thf-row">
        <div class="thf-lg-3 thf-md-12 thf-sm-12">
          <thf-input t-label="CEP"
            [(ngModel)]="customer.zipcode"
          >
          </thf-input>
        </div>
      </div>

      <div class="thf-row">
        <div class="thf-lg-3 thf-md-12 thf-sm-12">
          <thf-input t-label="Cidade"
            [(ngModel)]="customer.city"
          >
          </thf-input>
        </div>
      </div>

      <div class="thf-row">
        <div class="thf-lg-1 thf-md-12 thf-sm-12">
          <thf-input t-label="Estado"
            [(ngModel)]="customer.state"
          >
          </thf-input>
        </div>
      </div>

      <div class="thf-row">
        <div class="thf-lg-3 thf-md-12 thf-sm-12">
          <thf-input t-label="País"
            [(ngModel)]="customer.country"
          >
          </thf-input>
        </div>
      </div>

    </div>

    <div id="footer" class="thf-row">
      <div class="thf-lg-12">
        <thf-button [t-disabled]="missingRequiredData() || posting"
          id="save"
          t-type="primary"
          (click)="saveCustomer()"
          t-label="Salvar">
        </thf-button>
        <thf-button id="cancel"
          [t-disabled]="posting"
          (click)="cancel()"
          t-label="Cancelar">
        </thf-button>
      </div>
    </div>
  </thf-widget>
</thf-page-default>
